## HW7_SQL_bz882

In [1]:
# import with py 2 and py 3 compatibility
try:
    import urllib2
    from urllib2 import HTTPError
    from urllib2 import urlopen
    from urllib import urlencode
    from StringIO import StringIO as io

except ImportError:
    import urllib
    from urllib.error import HTTPError
    from urllib.request import urlopen, Request
    from urllib.parse import urlencode
    from io import BytesIO as io

import ast
import pandas as pd

In [2]:
# set SQL source
SQL_SOURCE = 'https://bz882.carto.com/api/v2/sql?q='

# define query function
def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urlencode({'format':format, 'q':query}).encode('utf-8')
    try:
        response = urlopen(source, data)
    except HTTPError as e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

In [3]:
# test function
test = '''
SELECT *
FROM citibike
'''

df = pd.read_csv(io(queryCartoDB(test)), sep=',')
df.head()

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,5960,NaN,NaN,1,1965.0,19217,462,435,351,Subscriber,W 22 St & 10 Ave,W 21 St & 6 Ave,-74.004519,40.746920,-73.994156,40.741740,2015-02-01 20:42:00+00,2015-02-01 20:36:00+00
1,9806,NaN,NaN,1,1971.0,17575,488,167,643,Subscriber,W 39 St & 9 Ave,E 39 St & 3 Ave,-73.993722,40.756458,-73.976049,40.748901,2015-02-03 14:50:00+00,2015-02-03 14:39:00+00
2,13113,NaN,NaN,1,1973.0,20313,440,332,1379,Subscriber,E 45 St & 3 Ave,Cherry St,-73.972826,40.752554,-73.979481,40.712199,2015-02-04 07:30:00+00,2015-02-04 07:07:00+00
3,1,NaN,NaN,2,1978.0,17131,423,521,801,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-01 00:14:00+00,2015-02-01 00:00:00+00
4,2,NaN,NaN,1,1993.0,21289,504,497,379,Subscriber,1 Ave & E 15 St,E 17 St & Broadway,-73.981656,40.732219,-73.990093,40.737050,2015-02-01 00:07:00+00,2015-02-01 00:00:00+00

# Task 1

In [14]:
# 1. Sort data by start_station_id, tripduration. Only checking trips with duration <= 3 hours 
q = '''
Select * from citibike
where tripduration < 3*60
order by start_station_id, tripduration
'''
pd.read_csv(io(queryCartoDB(q)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,8998,NaN,NaN,2,1980.0,19039,72,72,107,Subscriber,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-03 10:12:00+00,2015-02-03 10:10:00+00
1,44145,NaN,NaN,1,1973.0,15621,257,79,149,Subscriber,Lispenard St & Broadway,Franklin St & W Broadway,-74.002472,40.719392,-74.006667,40.719116,2015-02-07 17:29:00+00,2015-02-07 17:27:00+00
2,30628,NaN,NaN,1,1989.0,17620,296,82,138,Subscriber,Division St & Bowery,St James Pl & Pearl St,-73.997047,40.714131,-74.000165,40.711174,2015-02-05 22:25:00+00,2015-02-05 22:22:00+00
3,4719,NaN,NaN,1,1989.0,18634,296,82,143,Subscriber,Division St & Bowery,St James Pl & Pearl St,-73.997047,40.714131,-74.000165,40.711174,2015-02-01 17:14:00+00,2015-02-01 17:12:00+00
4,3720,NaN,NaN,1,1984.0,20906,2009,82,144,Subscriber,Catherine St & Monroe St,St James Pl & Pearl St,-73.996826,40.711174,-74.000165,40.711174,2015-02-01 15:36:00+00,2015-02-01 15:34:00+00
5,43759,NaN,NaN,1,1986.0,20941,2009,82,151,Subscriber,Catherine St & Monroe St,St James Pl & Pearl St,-73.996826,40.711174,-74.000165,40.711174,2015-02-07 16:52:00+00,2015-02-07 16:49:00+00
6,5744,NaN,NaN,1,1962.0,18603,2009,82,151,Subscriber,Catherine St & Monroe St,St James Pl & Pearl St,-73.996826,40.711174,-74.000165,40.711174,2015-02-01 19:26:00+00,2015-02-01 19:24:00+00
7,40923,NaN,NaN,1,1986.0,20941,2009,82,160,Subscriber,Catherine St & Monroe St,St James Pl & Pearl St,-73.996826,40.711174,-74.000165,40.711174,2015-02-07 11:05:00+00,2015-02-07 11:02:00+00
8,33557,NaN,NaN,1,1986.0,19322,2009,82,164,Subscriber,Catherine St & Monroe St,St James Pl & Pearl St,-73.996826,40.711174,-74.000165,40.711174,2015-02-06 10:59:00+00,2015-02-06 10:56:00+00
9,37904,NaN,NaN,1,1989.0,16573,296,82,166,Subscriber,Division St & Bowery,St James Pl & Pearl St,-73.997047,40.714131,-74.000165,40.711174,2015-02-06 18:49:00+00,2015-02-06 18:47:00+00
10,1722,NaN,NaN,2,1970.0,16918,2009,82,172,Subscriber,Catherine St & Monroe St,St James Pl & Pearl St,-73.996826,40.711174,-74.000165,40.711174,2015-02-01 12:10:00+00,2015-02-01 12:08:00+00
11,14792,NaN,NaN,1,1975.0,19915,83,83,73,Subscriber,Atlantic Ave & Fort Greene Pl,Atlantic Ave & Fort Greene Pl,-73.976323,40.683826,-73.976323,40.683826,2015-02-04 09:34:00+00,2015-02-04 09:33:00+00
12,36612,NaN,NaN,1,1979.0,15919,116,116,66,Subscriber,W 17 St & 8 Ave,W 17 St & 8 Ave,-74.001497,40.741776,-74.001497,40.741776,2015-02-06 17:24:00+00,2015-02-06 17:23:00+00
13,12509,NaN,NaN,1,1968.0,17710,470,116,101,Subscriber,W 20 St & 8 Ave,W 17 St & 8 Ave,-74.000040,40.743453,-74.001497,40.741776,2015-02-03 22:25:00+00,2015-02-03 22:24:00+00
14,40904,NaN,NaN,1,1964.0,20119,284,116,114,Subscriber,Greenwich Ave & 8 Ave,W 17 St & 8 Ave,-74.002638,40.739017,-74.001497,40.741776,2015-02-07 11:01:00+00,2015-02-07 10:59:00+00
15,45343,NaN,NaN,1,1978.0,19701,434,116,120,Subscriber,9 Ave & W 18 St,W 17 St & 8 Ave,-74.003664,40.743174,-74.001497,40.741776,2015-02-07 20:10:00+00,2015-02-07 20:08:00+00
16,30320,NaN,NaN,1,1979.0,16259,116,116,126,Subscriber,W 17 St & 8 Ave,W 17 St & 8 Ave,-74.001497,40.741776,-74.001497,40.741776,2015-02-05 20:59:00+00,2015-02-05 20:57:00+00
17,21021,NaN,NaN,1,1978.0,16662,284,116,127,Subscriber,Greenwich Ave & 8 Ave,W 17 St & 8 Ave,-74.002638,40.739017,-74.001497,40.741776,2015-02-04 21:19:00+00,2015-02-04 21:17:00+00
18,42632,NaN,NaN,1,1958.0,15265,463,116,130,Subscriber,9 Ave & W 16 St,W 17 St & 8 Ave,-74.004432,40.742065,-74.001497,40.741776,2015-02-07 14:57:00+00,2015-02-07 14:55:00+00
19,34013,NaN,NaN,1,1972.0,15006,212,116,163,Subscriber,W 16 St & The High Line,W 17 St & 8 Ave,-74.006818,40.743349,-74.001497,40.741776,2015-02-06 12:28:00+00,2015-02-06 12:25:00+00
20,29873,NaN,NaN,1,1984.0,16091,482,116,164,Subscriber,W 15 St & 7 Ave,W 17 St & 8 Ave,-73.999318,40.739355,-74.001497,40.741776,2015-02-05 19:41:00+00,2015-02-05 19:38:00+00
21,2747,NaN,NaN,1,1976.0,16246,453,116,176,Subscriber,W 22 St & 8 Ave,W 17 St & 8 Ave,-73.999154,40.744751,-74.001497,40.741776,2015-02-01 14:00:00+00,2015-02-01 13:57:00+00
22,29627,NaN,NaN,1,1966.0,19066,127,127,83,Subscriber,Barrow St & Hudson St,Barrow St & Hudson St,-74.006744,40.731724,-74.006744,40.731724,2015-02-05 19:14:00+00,2015-02-05 19:12:00+00
23,23191,NaN,NaN,1,1981.0,16393,347,127,127,Subscriber,W Houston St & Hudson St,Barrow St & Hudson St,-74.007488,40.728739,-74.006744,40.731724,2015-02-05 08:24:00+00,2015-02-05 08:22:00+00
24,45961,NaN,NaN,1,1979.0,16565,346,127,139,Subscriber,Bank St & Hudson St,Barrow St & Hudson St,-74.006180,40.736529,-74.006744,40.731724,2015-02-07 22:48:00+00,2015-02-07 22:45:00+00
25,46056,NaN,NaN,1,1983.0,21561,347,127,148,Subscriber,W Houston St & Hudson St,Barrow St & Hudson St,-74.007488,40.728739,-74.006744,40.731724,2015-02-07 23:16:00+00,2015-02-07 23:14:00+00
26,46055,NaN,NaN,1,1981.0,18646,347,127,148,Subscriber,W Houston St & Hudson St,Barrow St & Hudson St,-74.007488,40.728739,-74.006744,40.731724,2015-02-07 23:16:00+00,2015-02-07 23:14:00+00
27,30162,NaN,NaN,1,1980.0,17860,128,128,62,Subscriber,MacDougal St & Prince St,MacDougal St & Prince St,-74.002971,40.727103,-74.002971,40.727103,2015-02-05 20:26:00+00,2015-02-05 20:25:00+00
28,39421,NaN,NaN,1,1987.0,17478,2004,128,116,Subscriber,6 Ave & Broome St,MacDougal St & Prince St,-74.004704,40.724399,-74.002971,40.727103,2015-02-07 00:06:00+00,2015-02-07 00:04:00+00
29,20072,NaN,NaN,1,1974.0,18958,128,128,128,Subscriber,MacDougal St & Prince St,MacDougal St & Prince St,-74.002971,40.727103,-74.002971,40.727103,2015-02-04 19:26:00+00,2015-02-04 19:24:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1736,24886,NaN,NaN,1,1988.0,15195,528,2012,173,Subscriber,2 Ave & E 31 St,E 27 St & 1 Ave,-73.977061,40.742909,-73.976806,40.739445,2015-02-05 10:26:00+00,2015-02-05 10:23:00+00
1737,43711,NaN,NaN,1,1985.0,14689,528,2012,174,Subscriber,2 Ave & E 31 St,E 27 St & 1 Ave,-73.977061,40.742909,-73.976806,40.739445,2015-02-07 16:48:00+00,2015-02-07 16:45:00+00
1738,1808,NaN,NaN,1,1975.0,15173,507,2012,178,Subscriber,E 25 St & 2 Ave,E 27 St & 1 Ave,-73.979738,40.739126,-73.976806,40.739445,2015-02-01 12:22:00+00,2015-02-01 12:19:00+00
1739,19779,NaN,NaN,1,1971.0,15384,518,2017,109,Subscriber,E 39 St & 2 Ave,E 43 St & 2 Ave,-73.973442,40.747804,-73.971214,40.750224,2015-02-04 19:00:00+00,2015-02-04 18:58:00+00
1740,41372,NaN,NaN,1,1950.0,16574,518,2017,134,Subscriber,E 39 St & 2 Ave,E 43 St & 2 Ave,-73.973442,40.747804,-73.971214,40.750224,2015-02-07 12:15:00+00,2015-02-07 12:13:00+00
1741,23046,NaN,NaN,1,1988.0,20564,518,2017,145,Subscriber,E 39 St & 2 Ave,E 43 St & 2 Ave,-73.973442,40.747804,-73.971214,40.750224,2015-02-05 08:18:00+00,2015-02-05 08:15:00+00
1742,29227,NaN,NaN,1,1984.0,16980,228,2017,161,Subscriber,E 48 St & 3 Ave,E 43 St & 2 Ave,-73.971879,40.754601,-73.971214,40.750224,2015-02-05 18:42:00+00,2015-02-05 18:39:00+00
1743,41486,NaN,NaN,1,1968.0,14811,518,2017,165,Subscriber,E 39 St & 2 Ave,E 43 St & 2 Ave,-73.973442,40.747804,-73.971214,40.750224,2015-02-07 12:35:00+00,2015-02-07 12:32:00+00
1744,8676,NaN,NaN,1,1967.0,18478,2021,2021,90,Subscriber,W 45 St & 8 Ave,W 45 St & 8 Ave,-73.988597,40.759291,-73.988597,40.759291,2015-02-03 09:08:00+00,2015-02-03 09:07:00+00
1745,29407,NaN,NaN,1,1976.0,21390,479,2021,112,Subscriber,9 Ave & W 45 St,W 45 St & 8 Ave,-73.991255,40.760193,-73.988597,40.759291,2015-02-05 18:55:00+00,2015-02-05 18:53:00+00
1746,8788,NaN,NaN,1,1989.0,18478,2021,2021,123,Subscriber,W 45 St & 8 Ave,W 45 St & 8 Ave,-73.988597,40.759291,-73.988597,40.759291,2015-02-03 09:27:00+00,2015-02-03 09:25:00+00
1747,6150,NaN,NaN,1,1973.0,19594,495,2021,141,Subscriber,W 47 St & 10 Ave,W 45 St & 8 Ave,-73.993012,40.762699,-73.988597,40.759291,2015-02-01 22:12:00+00,2015-02-01 22:09:00+00
1748,11524,NaN,NaN,1,1986.0,18478,2021,2021,162,Subscriber,W 45 St & 8 Ave,W 45 St & 8 Ave,-73.988597,40.759291,-73.988597,40.759291,2015-02-03 18:47:00+00,2015-02-03 18:45:00+00
1749,2820,NaN,NaN,1,1977.0,16754,447,2021,178,Subscriber,8 Ave & W 52 St,W 45 St & 8 Ave,-73.985162,40.763707,-73.988597,40.759291,2015-02-01 14:08:00+00,2015-02-01 14:05:00+00
1750,8635,NaN,NaN,2,1985.0,20016,2022,2022,107,Subscriber,E 59 St & Sutton Pl,E 59 St & Sutton Pl,-73.959206,40.758491,-73.959206,40.758491,2015-02-03 09:02:00+00,2015-02-03 09:00:00+00
1751,36102,NaN,NaN,1,1962.0,17311,2023,2023,108,Subscriber,E 55 St & Lexington Ave,E 55 St & Lexington Ave,-73.970314,40.759681,-73.970314,40.759681,2015-02-06 16:49:00+00,2015-02-06 16:47:00+00
1752,27360,NaN,NaN,1,1954.0,17061,3002,3002,79,Subscriber,South End Ave & Liberty St,South End Ave & Liberty St,-74.015756,40.711512,-74.015756,40.711512,2015-02-05 16:30:00+00,2015-02-05 16:29:00+00
1753,13778,NaN,NaN,1,1967.0,16585,3002,3002,85,Subscriber,South End Ave & Liberty St,South End Ave & Liberty St,-74.015756,40.711512,-74.015756,40.711512,2015-02-04 08:18:00+00,2015-02-04 08:16:00+00
1754,8857,NaN,NaN,1,1981.0,18107,3002,3002,99,Subscriber,South End Ave & Liberty St,South End Ave & Liberty St,-74.015756,40.711512,-74.015756,40.711512,2015-02-03 09:39:00+00,2015-02-03 09:37:00+00
1755,41340,NaN,NaN,1,1979.0,18470,363,3002,108,Subscriber,West Thames St,South End Ave & Liberty St,-74.017134,40.708347,-74.015756,40.711512,2015-02-07 12:09:00+00,2015-02-07 12:07:00+00
1756,44128,NaN,NaN,1,1982.0,17272,363,3002,118,Subscriber,West Thames St,South End Ave & Liberty St,-74.017134,40.708347,-74.015756,40.711512,2015-02-07 17:27:00+00,2015-02-07 17:25:00+00
1757,28292,NaN,NaN,2,1968.0,20663,363,3002,132,Subscriber,West Thames St,South End Ave & Liberty St,-74.017134,40.708347,-74.015756,40.711512,2015-02-05 17:39:00+00,2015-02-05 17:37:00+00
1758,21869,NaN,NaN,1,1974.0,20547,363,3002,134,Subscriber,West Thames St,South End Ave & Liberty St,-74.017134,40.708347,-74.015756,40.711512,2015-02-05 06:00:00+00,2015-02-05 05:58:00+00
1759,32618,NaN,NaN,2,1978.0,20131,327,3002,150,Subscriber,Vesey Pl & River Terrace,South End Ave & Liberty St,-74.016584,40.715338,-74.015756,40.711512,2015-02-06 09:05:00+00,2015-02-06 09:02:00+00
1760,39892,NaN,NaN,1,1961.0,15008,327,3002,151,Subscriber,Vesey Pl & River Terrace,South End Ave & Liberty St,-74.016584,40.715338,-74.015756,40.711512,2015-02-07 08:23:00+00,2015-02-07 08:20:00+00
1761,44843,NaN,NaN,2,1981.0,17658,363,3002,162,Subscriber,West Thames St,South End Ave & Liberty St,-74.017134,40.708347,-74.015756,40.711512,2015-02-07 18:57:00+00,2015-02-07 18:55:00+00
1762,36546,NaN,NaN,1,1978.0,18048,363,3002,163,Subscriber,West Thames St,South End Ave & Liberty St,-74.017134,40.708347,-74.015756,40.711512,2015-02-06 17:22:00+00,2015-02-06 17:19:00+00
1763,44488,NaN,NaN,2,1972.0,17658,363,3002,167,Subscriber,West Thames St,South End Ave & Liberty St,-74.017134,40.708347,-74.015756,40.711512,2015-02-07 18:13:00+00,2015-02-07 18:10:00+00
1764,12171,NaN,NaN,1,1979.0,16155,363,3002,170,Subscriber,West Thames St,South End Ave & Liberty St,-74.017134,40.708347,-74.015756,40.711512,2015-02-03 20:43:00+00,2015-02-03 20:40:00+00
1765,44778,NaN,NaN,1,1973.0,21366,327,3002,179,Subscriber,Vesey Pl & River Terrace,South End Ave & Liberty St,-74.016584,40.715338,-74.015756,40.711512,2015-02-07 18:47:00+00,2015-02-07 18:44:00+00

In [15]:
# 2.1 Only show the top 10 records (aka head and tail in SQL) 
q = '''
select * from citibike
limit 10
'''
pd.read_csv(io(queryCartoDB(q)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,5960,NaN,NaN,1,1965,19217,462,435,351,Subscriber,W 22 St & 10 Ave,W 21 St & 6 Ave,-74.004519,40.746920,-73.994156,40.741740,2015-02-01 20:42:00+00,2015-02-01 20:36:00+00
1,9806,NaN,NaN,1,1971,17575,488,167,643,Subscriber,W 39 St & 9 Ave,E 39 St & 3 Ave,-73.993722,40.756458,-73.976049,40.748901,2015-02-03 14:50:00+00,2015-02-03 14:39:00+00
2,13113,NaN,NaN,1,1973,20313,440,332,1379,Subscriber,E 45 St & 3 Ave,Cherry St,-73.972826,40.752554,-73.979481,40.712199,2015-02-04 07:30:00+00,2015-02-04 07:07:00+00
3,1,NaN,NaN,2,1978,17131,423,521,801,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-01 00:14:00+00,2015-02-01 00:00:00+00
4,2,NaN,NaN,1,1993,21289,504,497,379,Subscriber,1 Ave & E 15 St,E 17 St & Broadway,-73.981656,40.732219,-73.990093,40.737050,2015-02-01 00:07:00+00,2015-02-01 00:00:00+00
5,3,NaN,NaN,2,1969,18903,127,281,2474,Subscriber,Barrow St & Hudson St,Grand Army Plaza & Central Park S,-74.006744,40.731724,-73.973715,40.764397,2015-02-01 00:42:00+00,2015-02-01 00:01:00+00
6,4,NaN,NaN,2,1985,21044,505,2004,818,Subscriber,6 Ave & W 33 St,6 Ave & Broome St,-73.988484,40.749013,-74.004704,40.724399,2015-02-01 00:15:00+00,2015-02-01 00:01:00+00
7,5,NaN,NaN,1,1957,19868,83,323,544,Subscriber,Atlantic Ave & Fort Greene Pl,Lawrence St & Willoughby St,-73.976323,40.683826,-73.986317,40.692362,2015-02-01 00:10:00+00,2015-02-01 00:01:00+00
8,6,NaN,NaN,1,1979,15854,2002,373,717,Subscriber,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,-73.963198,40.716887,-73.953820,40.693317,2015-02-01 00:14:00+00,2015-02-01 00:02:00+00
9,7,NaN,NaN,1,1983,15173,504,352,1306,Subscriber,1 Ave & E 15 St,W 56 St & 6 Ave,-73.981656,40.732219,-73.977225,40.763406,2015-02-01 00:26:00+00,2015-02-01 00:04:00+00

In [16]:
# 2.2 Only show the last 10 records 
q = '''
select * from citibike limit 10 offset 
((select count(*) from citibike)-10)
'''
pd.read_csv(io(queryCartoDB(q)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,46191,NaN,NaN,2,1983,14736,494,116,306,Subscriber,W 26 St & 8 Ave,W 17 St & 8 Ave,-73.997236,40.747348,-74.001497,40.741776,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
1,46192,NaN,NaN,1,1984,16300,432,495,1248,Subscriber,E 7 St & Avenue A,W 47 St & 10 Ave,-73.983799,40.726218,-73.993012,40.762699,2015-02-08 00:17:00+00,2015-02-07 23:56:00+00
2,46193,NaN,NaN,1,1959,16978,325,152,1165,Subscriber,E 19 St & 3 Ave,Warren St & Church St,-73.984738,40.736245,-74.009106,40.714740,2015-02-08 00:15:00+00,2015-02-07 23:56:00+00
3,46194,NaN,NaN,1,1974,16722,295,461,993,Subscriber,Pike St & E Broadway,E 20 St & 2 Ave,-73.992939,40.714067,-73.982050,40.735877,2015-02-08 00:13:00+00,2015-02-07 23:56:00+00
4,46195,NaN,NaN,2,1960,20184,265,455,1422,Subscriber,Stanton St & Chrystie St,1 Ave & E 44 St,-73.991475,40.722293,-73.969053,40.750020,2015-02-08 00:20:00+00,2015-02-07 23:57:00+00
5,46196,NaN,NaN,1,1953,15585,325,470,689,Subscriber,E 19 St & 3 Ave,W 20 St & 8 Ave,-73.984738,40.736245,-74.000040,40.743453,2015-02-08 00:08:00+00,2015-02-07 23:57:00+00
6,46197,NaN,NaN,2,1986,16395,325,474,428,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:04:00+00,2015-02-07 23:57:00+00
7,46198,NaN,NaN,1,1986,15545,325,474,392,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:03:00+00,2015-02-07 23:57:00+00
8,46199,NaN,NaN,2,1983,19540,334,368,548,Subscriber,W 20 St & 7 Ave,Carmine St & 6 Ave,-73.997262,40.742388,-74.002150,40.730386,2015-02-08 00:08:00+00,2015-02-07 23:58:00+00
9,46200,NaN,NaN,2,1965,20998,417,439,917,Subscriber,Barclay St & Church St,E 4 St & 2 Ave,-74.010202,40.712912,-73.989780,40.726281,2015-02-08 00:15:00+00,2015-02-07 23:59:00+00

In [17]:
# 3.List all unique start_station_id values
q = '''
select start_station_id from citibike 
group by start_station_id
'''
pd.read_csv(io(queryCartoDB(q)), sep=',')

     start_station_id  Unnamed: 1
0                 195         NaN
1                 251         NaN
2                 285         NaN
3                 120         NaN
4                 483         NaN
5                 264         NaN
6                 497         NaN
7                 305         NaN
8                 318         NaN
9                 312         NaN
10                496         NaN
11                455         NaN
12                470         NaN
13                276         NaN
14               2008         NaN
15                313         NaN
16                262         NaN
17                362         NaN
18                151         NaN
19                384         NaN
20                119         NaN
21                399         NaN
22                356         NaN
23                270         NaN
24                437         NaN
25                514         NaN
26                518         NaN
27                329         NaN
28                268         NaN
29                531         NaN
..                ...         ...
297               420         NaN
298               443         NaN
299               490         NaN
300               492         NaN
301               416         NaN
302               331         NaN
303               232         NaN
304               427         NaN
305               377         NaN
306               445         NaN
307               411         NaN
308               260         NaN
309               403         NaN
310               494         NaN
311               244         NaN
312               128         NaN
313               223         NaN
314               456         NaN
315               300         NaN
316               217         NaN
317               538         NaN
318               383         NaN
319               212         NaN
320               353         NaN
321               328         NaN
322               216         NaN
323               263         NaN
324               266         NaN
325               144         NaN
326               453         NaN

[327 rows x 2 columns]

In [19]:
# 4.1Aggregation functions: Count the number of trips (aka wc -l in SQL) 
q = '''
select count(*) 
from citibike
'''
pd.read_csv(io(queryCartoDB(q)), sep=',')

   count  Unnamed: 1
0  46200         NaN

In [20]:
# 4.2 Find the average/min/max trip duration 
q = '''
select avg(tripduration), min(tripduration),max(tripduration)
from citibike
'''
pd.read_csv(io(queryCartoDB(q)), sep=',')

          avg  min    max
0  675.865823   60  43016

# Task 2

In [21]:
# 2.1 trips started on Feb-02-2015
q = '''
SELECT * 
FROM citibike
WHERE starttime 
BETWEEN '02/02/2015 00:00:00.00' AND '02/02/2015 23:59:59.999'
'''
pd.read_csv(io(queryCartoDB(q)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,6442,NaN,NaN,1,1992.0,20684,489,442,199,Subscriber,10 Ave & W 28 St,W 27 St & 7 Ave,-74.001768,40.750664,-73.993915,40.746647,2015-02-02 00:05:00+00,2015-02-02 00:02:00+00
1,6443,NaN,NaN,2,1964.0,16094,349,326,418,Subscriber,Rivington St & Ridge St,E 11 St & 1 Ave,-73.983299,40.718502,-73.984267,40.729538,2015-02-02 00:10:00+00,2015-02-02 00:03:00+00
2,6444,NaN,NaN,1,1974.0,17362,415,279,276,Subscriber,Pearl St & Hanover Square,Peck Slip & Front St,-74.009260,40.704718,-74.001670,40.707873,2015-02-02 00:09:00+00,2015-02-02 00:04:00+00
3,6445,NaN,NaN,2,1992.0,15475,237,496,420,Subscriber,E 11 St & 2 Ave,E 16 St & 5 Ave,-73.986724,40.730473,-73.992390,40.737262,2015-02-02 00:13:00+00,2015-02-02 00:06:00+00
4,6446,NaN,NaN,1,1968.0,16272,450,477,304,Subscriber,W 49 St & 8 Ave,W 41 St & 8 Ave,-73.987882,40.762272,-73.990026,40.756405,2015-02-02 00:12:00+00,2015-02-02 00:07:00+00
5,6447,NaN,NaN,1,1979.0,16370,391,467,622,Subscriber,Clark St & Henry St,Dean St & 4 Ave,-73.993446,40.697601,-73.978951,40.683125,2015-02-02 00:18:00+00,2015-02-02 00:08:00+00
6,6448,NaN,NaN,1,1963.0,19437,482,434,371,Subscriber,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 00:15:00+00,2015-02-02 00:09:00+00
7,6449,NaN,NaN,1,1982.0,21211,2008,330,477,Subscriber,Little West St & 1 Pl,Reade St & Broadway,-74.016777,40.705693,-74.005628,40.714505,2015-02-02 00:19:00+00,2015-02-02 00:11:00+00
8,6450,NaN,NaN,2,1978.0,21417,423,521,743,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-02 00:25:00+00,2015-02-02 00:12:00+00
9,6451,NaN,NaN,1,1956.0,15722,453,504,599,Subscriber,W 22 St & 8 Ave,1 Ave & E 15 St,-73.999154,40.744751,-73.981656,40.732219,2015-02-02 00:22:00+00,2015-02-02 00:12:00+00
10,6452,NaN,NaN,1,1962.0,18972,236,285,345,Subscriber,St Marks Pl & 2 Ave,Broadway & E 14 St,-73.987140,40.728419,-73.990741,40.734546,2015-02-02 00:18:00+00,2015-02-02 00:12:00+00
11,6453,NaN,NaN,1,1980.0,19628,476,301,721,Subscriber,E 31 St & 3 Ave,E 2 St & Avenue B,-73.979661,40.743943,-73.983688,40.722174,2015-02-02 00:25:00+00,2015-02-02 00:13:00+00
12,6454,NaN,NaN,1,1978.0,15169,376,279,182,Subscriber,John St & William St,Peck Slip & Front St,-74.007222,40.708621,-74.001670,40.707873,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
13,6455,NaN,NaN,1,1997.0,17533,411,342,154,Subscriber,E 6 St & Avenue D,Columbia St & Rivington St,-73.976687,40.722281,-73.980166,40.717400,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
14,6456,NaN,NaN,1,1983.0,19761,491,470,435,Subscriber,E 24 St & Park Ave S,W 20 St & 8 Ave,-73.986022,40.740964,-74.000040,40.743453,2015-02-02 00:21:00+00,2015-02-02 00:14:00+00
15,6457,NaN,NaN,1,1993.0,17267,393,236,310,Subscriber,E 5 St & Avenue C,St Marks Pl & 2 Ave,-73.979955,40.722992,-73.987140,40.728419,2015-02-02 00:20:00+00,2015-02-02 00:15:00+00
16,6458,NaN,NaN,1,1964.0,18691,470,470,1274,Subscriber,W 20 St & 8 Ave,W 20 St & 8 Ave,-74.000040,40.743453,-74.000040,40.743453,2015-02-02 00:37:00+00,2015-02-02 00:16:00+00
17,6459,NaN,NaN,1,1977.0,17106,174,485,642,Subscriber,E 25 St & 1 Ave,W 37 St & 5 Ave,-73.977387,40.738177,-73.983390,40.750380,2015-02-02 00:29:00+00,2015-02-02 00:18:00+00
18,6460,NaN,NaN,1,1973.0,20009,483,345,256,Subscriber,E 12 St & 3 Ave,W 13 St & 6 Ave,-73.988900,40.732233,-73.997044,40.736494,2015-02-02 00:22:00+00,2015-02-02 00:18:00+00
19,6461,NaN,NaN,1,1979.0,18777,442,489,334,Subscriber,W 27 St & 7 Ave,10 Ave & W 28 St,-73.993915,40.746647,-74.001768,40.750664,2015-02-02 00:25:00+00,2015-02-02 00:19:00+00
20,6462,NaN,NaN,1,1989.0,15357,174,507,90,Subscriber,E 25 St & 1 Ave,E 25 St & 2 Ave,-73.977387,40.738177,-73.979738,40.739126,2015-02-02 00:20:00+00,2015-02-02 00:19:00+00
21,6463,NaN,NaN,1,1983.0,18487,405,380,203,Subscriber,Washington St & Gansevoort St,W 4 St & 7 Ave S,-74.008119,40.739323,-74.002939,40.734011,2015-02-02 00:23:00+00,2015-02-02 00:20:00+00
22,6464,NaN,NaN,1,1981.0,20863,439,334,649,Subscriber,E 4 St & 2 Ave,W 20 St & 7 Ave,-73.989780,40.726281,-73.997262,40.742388,2015-02-02 00:32:00+00,2015-02-02 00:22:00+00
23,6465,NaN,NaN,1,1970.0,16539,448,508,319,Subscriber,W 37 St & 10 Ave,W 46 St & 11 Ave,-73.997901,40.756604,-73.996674,40.763414,2015-02-02 00:29:00+00,2015-02-02 00:23:00+00
24,6466,NaN,NaN,1,1961.0,18737,301,428,154,Subscriber,E 2 St & Avenue B,E 3 St & 1 Ave,-73.983688,40.722174,-73.987834,40.724677,2015-02-02 00:30:00+00,2015-02-02 00:27:00+00
25,6467,NaN,NaN,2,1980.0,17797,195,331,550,Subscriber,Liberty St & Broadway,Pike St & Monroe St,-74.010434,40.709056,-73.991930,40.711731,2015-02-02 00:37:00+00,2015-02-02 00:28:00+00
26,6468,NaN,NaN,1,1990.0,20638,478,529,268,Subscriber,11 Ave & W 41 St,W 42 St & 8 Ave,-73.998842,40.760301,-73.990985,40.757570,2015-02-02 00:34:00+00,2015-02-02 00:29:00+00
27,6469,NaN,NaN,1,1989.0,17636,366,421,153,Subscriber,Clinton Ave & Myrtle Ave,Clermont Ave & Park Ave,-73.968896,40.693261,-73.971297,40.695734,2015-02-02 00:31:00+00,2015-02-02 00:29:00+00
28,6470,NaN,NaN,1,1982.0,18472,494,284,309,Subscriber,W 26 St & 8 Ave,Greenwich Ave & 8 Ave,-73.997236,40.747348,-74.002638,40.739017,2015-02-02 00:36:00+00,2015-02-02 00:31:00+00
29,6471,NaN,NaN,1,1968.0,17456,252,383,138,Subscriber,MacDougal St & Washington Sq,Greenwich Ave & Charles St,-73.998522,40.732264,-74.000271,40.735238,2015-02-02 00:35:00+00,2015-02-02 00:33:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,7871,NaN,NaN,1,1985.0,20572,380,312,722,Subscriber,W 4 St & 7 Ave S,Allen St & E Houston St,-74.002939,40.734011,-73.989111,40.722055,2015-02-02 23:20:00+00,2015-02-02 23:08:00+00
1430,7872,NaN,NaN,1,1981.0,20338,491,486,274,Subscriber,E 24 St & Park Ave S,Broadway & W 29 St,-73.986022,40.740964,-73.988557,40.746201,2015-02-02 23:12:00+00,2015-02-02 23:08:00+00
1431,7873,NaN,NaN,1,1978.0,15826,515,352,951,Subscriber,W 43 St & 10 Ave,W 56 St & 6 Ave,-73.994618,40.760094,-73.977225,40.763406,2015-02-02 23:27:00+00,2015-02-02 23:11:00+00
1432,7874,NaN,NaN,1,1990.0,18325,521,489,276,Subscriber,8 Ave & W 31 St,10 Ave & W 28 St,-73.994811,40.750450,-74.001768,40.750664,2015-02-02 23:20:00+00,2015-02-02 23:16:00+00
1433,7875,NaN,NaN,1,1977.0,16654,434,494,426,Subscriber,9 Ave & W 18 St,W 26 St & 8 Ave,-74.003664,40.743174,-73.997236,40.747348,2015-02-02 23:24:00+00,2015-02-02 23:17:00+00
1434,7876,NaN,NaN,1,1966.0,20902,229,402,578,Subscriber,Great Jones St,Broadway & E 22 St,-73.993790,40.727434,-73.989551,40.740343,2015-02-02 23:28:00+00,2015-02-02 23:19:00+00
1435,7877,NaN,NaN,1,1954.0,20796,2017,164,2621,Subscriber,E 43 St & 2 Ave,E 47 St & 2 Ave,-73.971214,40.750224,-73.970325,40.753231,2015-02-03 00:06:00+00,2015-02-02 23:22:00+00
1436,7878,NaN,NaN,1,1989.0,20160,449,498,621,Subscriber,W 52 St & 9 Ave,Broadway & W 32 St,-73.987895,40.764618,-73.988084,40.748549,2015-02-02 23:32:00+00,2015-02-02 23:22:00+00
1437,7879,NaN,NaN,1,1974.0,17392,477,521,323,Subscriber,W 41 St & 8 Ave,8 Ave & W 31 St,-73.990026,40.756405,-73.994811,40.750450,2015-02-02 23:29:00+00,2015-02-02 23:23:00+00
1438,7880,NaN,NaN,1,1963.0,17263,482,434,393,Subscriber,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 23:31:00+00,2015-02-02 23:24:00+00
1439,7881,NaN,NaN,1,1955.0,19858,497,161,597,Subscriber,E 17 St & Broadway,LaGuardia Pl & W 3 St,-73.990093,40.737050,-73.998102,40.729170,2015-02-02 23:35:00+00,2015-02-02 23:25:00+00
1440,7882,NaN,NaN,1,1979.0,20319,462,494,244,Subscriber,W 22 St & 10 Ave,W 26 St & 8 Ave,-74.004519,40.746920,-73.997236,40.747348,2015-02-02 23:30:00+00,2015-02-02 23:25:00+00
1441,7883,NaN,NaN,1,1977.0,21600,127,306,1023,Subscriber,Barrow St & Hudson St,Cliff St & Fulton St,-74.006744,40.731724,-74.005301,40.708235,2015-02-02 23:43:00+00,2015-02-02 23:26:00+00
1442,7884,NaN,NaN,1,1986.0,18791,473,349,419,Subscriber,Rivington St & Chrystie St,Rivington St & Ridge St,-73.991925,40.721101,-73.983299,40.718502,2015-02-02 23:38:00+00,2015-02-02 23:31:00+00
1443,7885,NaN,NaN,1,1966.0,17730,358,450,1429,Subscriber,Christopher St & Greenwich St,W 49 St & 8 Ave,-74.007114,40.732916,-73.987882,40.762272,2015-02-02 23:55:00+00,2015-02-02 23:32:00+00
1444,7886,NaN,NaN,1,1980.0,18147,477,519,676,Subscriber,W 41 St & 8 Ave,Pershing Square North,-73.990026,40.756405,-73.977706,40.751873,2015-02-02 23:44:00+00,2015-02-02 23:32:00+00
1445,7887,NaN,NaN,1,1959.0,20249,489,546,879,Subscriber,10 Ave & W 28 St,E 30 St & Park Ave S,-74.001768,40.750664,-73.983035,40.744449,2015-02-02 23:48:00+00,2015-02-02 23:33:00+00
1446,7888,NaN,NaN,1,1988.0,18078,432,336,593,Subscriber,E 7 St & Avenue A,Sullivan St & Washington Sq,-73.983799,40.726218,-73.999061,40.730477,2015-02-02 23:45:00+00,2015-02-02 23:35:00+00
1447,7889,NaN,NaN,1,1983.0,16808,164,529,839,Subscriber,E 47 St & 2 Ave,W 42 St & 8 Ave,-73.970325,40.753231,-73.990985,40.757570,2015-02-02 23:50:00+00,2015-02-02 23:36:00+00
1448,7890,NaN,NaN,1,1986.0,21355,368,402,560,Subscriber,Carmine St & 6 Ave,Broadway & E 22 St,-74.002150,40.730386,-73.989551,40.740343,2015-02-02 23:46:00+00,2015-02-02 23:37:00+00
1449,7891,NaN,NaN,1,1994.0,15359,511,504,165,Subscriber,E 14 St & Avenue B,1 Ave & E 15 St,-73.977724,40.729387,-73.981656,40.732219,2015-02-02 23:40:00+00,2015-02-02 23:37:00+00
1450,7892,NaN,NaN,2,1982.0,18250,489,505,813,Subscriber,10 Ave & W 28 St,6 Ave & W 33 St,-74.001768,40.750664,-73.988484,40.749013,2015-02-02 23:56:00+00,2015-02-02 23:42:00+00
1451,7893,NaN,NaN,1,1987.0,16969,507,509,764,Subscriber,E 25 St & 2 Ave,9 Ave & W 22 St,-73.979738,40.739126,-74.001971,40.745497,2015-02-02 23:55:00+00,2015-02-02 23:42:00+00
1452,7894,NaN,NaN,1,1979.0,18825,397,496,2111,Subscriber,Fulton St & Clermont Ave,E 16 St & 5 Ave,-73.969223,40.684157,-73.992390,40.737262,2015-02-03 00:18:00+00,2015-02-02 23:43:00+00
1453,7895,NaN,NaN,1,1983.0,19000,439,280,518,Subscriber,E 4 St & 2 Ave,E 10 St & 5 Ave,-73.989780,40.726281,-73.995101,40.733320,2015-02-02 23:52:00+00,2015-02-02 23:43:00+00
1454,7896,NaN,NaN,1,1977.0,20723,440,484,371,Subscriber,E 45 St & 3 Ave,W 44 St & 5 Ave,-73.972826,40.752554,-73.980144,40.755003,2015-02-02 23:52:00+00,2015-02-02 23:45:00+00
1455,7897,NaN,NaN,1,1988.0,16528,417,224,188,Subscriber,Barclay St & Church St,Spruce St & Nassau St,-74.010202,40.712912,-74.005524,40.711464,2015-02-02 23:50:00+00,2015-02-02 23:47:00+00
1456,7898,NaN,NaN,1,1988.0,16541,394,345,689,Subscriber,E 9 St & Avenue C,W 13 St & 6 Ave,-73.977688,40.725213,-73.997044,40.736494,2015-02-03 00:02:00+00,2015-02-02 23:50:00+00
1457,7899,NaN,NaN,1,1961.0,14878,537,453,634,Subscriber,Lexington Ave & E 24 St,W 22 St & 8 Ave,-73.984092,40.740259,-73.999154,40.744751,2015-02-03 00:05:00+00,2015-02-02 23:55:00+00
1458,7900,NaN,NaN,2,1976.0,16326,302,285,733,Subscriber,Avenue D & E 3 St,Broadway & E 14 St,-73.977932,40.720828,-73.990741,40.734546,2015-02-03 00:10:00+00,2015-02-02 23:58:00+00

In [22]:
# 2.2 trips started on weekend (average duration)
q = '''
SELECT AVG(tripduration)
FROM citibike
WHERE extract(DOW FROM starttime) IN (0,6)
'''
pd.read_csv(io(queryCartoDB(q)), sep=',')

          avg  Unnamed: 1
0  662.942181         NaN

In [23]:
# 2.3 trips started on a weekday
q = '''
SELECT *
FROM citibike
WHERE extract(DOW FROM starttime) NOT IN (0,6)
'''
pd.read_csv(io(queryCartoDB(q)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,9806,NaN,NaN,1,1971.0,17575,488,167,643,Subscriber,W 39 St & 9 Ave,E 39 St & 3 Ave,-73.993722,40.756458,-73.976049,40.748901,2015-02-03 14:50:00+00,2015-02-03 14:39:00+00
1,13113,NaN,NaN,1,1973.0,20313,440,332,1379,Subscriber,E 45 St & 3 Ave,Cherry St,-73.972826,40.752554,-73.979481,40.712199,2015-02-04 07:30:00+00,2015-02-04 07:07:00+00
2,6442,NaN,NaN,1,1992.0,20684,489,442,199,Subscriber,10 Ave & W 28 St,W 27 St & 7 Ave,-74.001768,40.750664,-73.993915,40.746647,2015-02-02 00:05:00+00,2015-02-02 00:02:00+00
3,6443,NaN,NaN,2,1964.0,16094,349,326,418,Subscriber,Rivington St & Ridge St,E 11 St & 1 Ave,-73.983299,40.718502,-73.984267,40.729538,2015-02-02 00:10:00+00,2015-02-02 00:03:00+00
4,6444,NaN,NaN,1,1974.0,17362,415,279,276,Subscriber,Pearl St & Hanover Square,Peck Slip & Front St,-74.009260,40.704718,-74.001670,40.707873,2015-02-02 00:09:00+00,2015-02-02 00:04:00+00
5,6445,NaN,NaN,2,1992.0,15475,237,496,420,Subscriber,E 11 St & 2 Ave,E 16 St & 5 Ave,-73.986724,40.730473,-73.992390,40.737262,2015-02-02 00:13:00+00,2015-02-02 00:06:00+00
6,6446,NaN,NaN,1,1968.0,16272,450,477,304,Subscriber,W 49 St & 8 Ave,W 41 St & 8 Ave,-73.987882,40.762272,-73.990026,40.756405,2015-02-02 00:12:00+00,2015-02-02 00:07:00+00
7,6447,NaN,NaN,1,1979.0,16370,391,467,622,Subscriber,Clark St & Henry St,Dean St & 4 Ave,-73.993446,40.697601,-73.978951,40.683125,2015-02-02 00:18:00+00,2015-02-02 00:08:00+00
8,6448,NaN,NaN,1,1963.0,19437,482,434,371,Subscriber,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 00:15:00+00,2015-02-02 00:09:00+00
9,6449,NaN,NaN,1,1982.0,21211,2008,330,477,Subscriber,Little West St & 1 Pl,Reade St & Broadway,-74.016777,40.705693,-74.005628,40.714505,2015-02-02 00:19:00+00,2015-02-02 00:11:00+00
10,6450,NaN,NaN,2,1978.0,21417,423,521,743,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-02 00:25:00+00,2015-02-02 00:12:00+00
11,6451,NaN,NaN,1,1956.0,15722,453,504,599,Subscriber,W 22 St & 8 Ave,1 Ave & E 15 St,-73.999154,40.744751,-73.981656,40.732219,2015-02-02 00:22:00+00,2015-02-02 00:12:00+00
12,6452,NaN,NaN,1,1962.0,18972,236,285,345,Subscriber,St Marks Pl & 2 Ave,Broadway & E 14 St,-73.987140,40.728419,-73.990741,40.734546,2015-02-02 00:18:00+00,2015-02-02 00:12:00+00
13,6453,NaN,NaN,1,1980.0,19628,476,301,721,Subscriber,E 31 St & 3 Ave,E 2 St & Avenue B,-73.979661,40.743943,-73.983688,40.722174,2015-02-02 00:25:00+00,2015-02-02 00:13:00+00
14,6454,NaN,NaN,1,1978.0,15169,376,279,182,Subscriber,John St & William St,Peck Slip & Front St,-74.007222,40.708621,-74.001670,40.707873,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
15,6455,NaN,NaN,1,1997.0,17533,411,342,154,Subscriber,E 6 St & Avenue D,Columbia St & Rivington St,-73.976687,40.722281,-73.980166,40.717400,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
16,6456,NaN,NaN,1,1983.0,19761,491,470,435,Subscriber,E 24 St & Park Ave S,W 20 St & 8 Ave,-73.986022,40.740964,-74.000040,40.743453,2015-02-02 00:21:00+00,2015-02-02 00:14:00+00
17,6457,NaN,NaN,1,1993.0,17267,393,236,310,Subscriber,E 5 St & Avenue C,St Marks Pl & 2 Ave,-73.979955,40.722992,-73.987140,40.728419,2015-02-02 00:20:00+00,2015-02-02 00:15:00+00
18,6458,NaN,NaN,1,1964.0,18691,470,470,1274,Subscriber,W 20 St & 8 Ave,W 20 St & 8 Ave,-74.000040,40.743453,-74.000040,40.743453,2015-02-02 00:37:00+00,2015-02-02 00:16:00+00
19,6459,NaN,NaN,1,1977.0,17106,174,485,642,Subscriber,E 25 St & 1 Ave,W 37 St & 5 Ave,-73.977387,40.738177,-73.983390,40.750380,2015-02-02 00:29:00+00,2015-02-02 00:18:00+00
20,6460,NaN,NaN,1,1973.0,20009,483,345,256,Subscriber,E 12 St & 3 Ave,W 13 St & 6 Ave,-73.988900,40.732233,-73.997044,40.736494,2015-02-02 00:22:00+00,2015-02-02 00:18:00+00
21,6461,NaN,NaN,1,1979.0,18777,442,489,334,Subscriber,W 27 St & 7 Ave,10 Ave & W 28 St,-73.993915,40.746647,-74.001768,40.750664,2015-02-02 00:25:00+00,2015-02-02 00:19:00+00
22,6462,NaN,NaN,1,1989.0,15357,174,507,90,Subscriber,E 25 St & 1 Ave,E 25 St & 2 Ave,-73.977387,40.738177,-73.979738,40.739126,2015-02-02 00:20:00+00,2015-02-02 00:19:00+00
23,6463,NaN,NaN,1,1983.0,18487,405,380,203,Subscriber,Washington St & Gansevoort St,W 4 St & 7 Ave S,-74.008119,40.739323,-74.002939,40.734011,2015-02-02 00:23:00+00,2015-02-02 00:20:00+00
24,6464,NaN,NaN,1,1981.0,20863,439,334,649,Subscriber,E 4 St & 2 Ave,W 20 St & 7 Ave,-73.989780,40.726281,-73.997262,40.742388,2015-02-02 00:32:00+00,2015-02-02 00:22:00+00
25,6465,NaN,NaN,1,1970.0,16539,448,508,319,Subscriber,W 37 St & 10 Ave,W 46 St & 11 Ave,-73.997901,40.756604,-73.996674,40.763414,2015-02-02 00:29:00+00,2015-02-02 00:23:00+00
26,6466,NaN,NaN,1,1961.0,18737,301,428,154,Subscriber,E 2 St & Avenue B,E 3 St & 1 Ave,-73.983688,40.722174,-73.987834,40.724677,2015-02-02 00:30:00+00,2015-02-02 00:27:00+00
27,6467,NaN,NaN,2,1980.0,17797,195,331,550,Subscriber,Liberty St & Broadway,Pike St & Monroe St,-74.010434,40.709056,-73.991930,40.711731,2015-02-02 00:37:00+00,2015-02-02 00:28:00+00
28,6468,NaN,NaN,1,1990.0,20638,478,529,268,Subscriber,11 Ave & W 41 St,W 42 St & 8 Ave,-73.998842,40.760301,-73.990985,40.757570,2015-02-02 00:34:00+00,2015-02-02 00:29:00+00
29,6469,NaN,NaN,1,1989.0,17636,366,421,153,Subscriber,Clinton Ave & Myrtle Ave,Clermont Ave & Park Ave,-73.968896,40.693261,-73.971297,40.695734,2015-02-02 00:31:00+00,2015-02-02 00:29:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32939,39381,NaN,NaN,1,1957.0,18249,492,465,321,Subscriber,W 33 St & 7 Ave,Broadway & W 41 St,-73.990931,40.750200,-73.986580,40.755136,2015-02-06 23:52:00+00,2015-02-06 23:47:00+00
32940,39382,NaN,NaN,2,1972.0,19146,318,523,449,Subscriber,E 43 St & Vanderbilt Ave,W 38 St & 8 Ave,-73.977987,40.753202,-73.991382,40.754666,2015-02-06 23:55:00+00,2015-02-06 23:48:00+00
32941,39383,NaN,NaN,1,1984.0,15313,434,509,120,Subscriber,9 Ave & W 18 St,9 Ave & W 22 St,-74.003664,40.743174,-74.001971,40.745497,2015-02-06 23:50:00+00,2015-02-06 23:48:00+00
32942,39384,NaN,NaN,1,1979.0,18469,2002,274,977,Subscriber,Wythe Ave & Metropolitan Ave,Lafayette Ave & Fort Greene Pl,-73.963198,40.716887,-73.976682,40.686919,2015-02-07 00:05:00+00,2015-02-06 23:49:00+00
32943,39385,NaN,NaN,1,1966.0,18929,403,402,501,Subscriber,E 2 St & 2 Ave,Broadway & E 22 St,-73.990697,40.725029,-73.989551,40.740343,2015-02-06 23:57:00+00,2015-02-06 23:49:00+00
32944,39386,NaN,NaN,1,1987.0,19009,402,545,441,Subscriber,Broadway & E 22 St,E 23 St & 1 Ave,-73.989551,40.740343,-73.978095,40.736502,2015-02-06 23:58:00+00,2015-02-06 23:50:00+00
32945,39387,NaN,NaN,1,1984.0,17102,438,325,388,Subscriber,St Marks Pl & 1 Ave,E 19 St & 3 Ave,-73.985649,40.727791,-73.984738,40.736245,2015-02-06 23:57:00+00,2015-02-06 23:50:00+00
32946,39388,NaN,NaN,2,1972.0,18686,266,293,607,Subscriber,Avenue D & E 8 St,Lafayette St & E 8 St,-73.975748,40.723684,-73.990765,40.730287,2015-02-07 00:01:00+00,2015-02-06 23:51:00+00
32947,39389,NaN,NaN,1,1989.0,15377,472,402,284,Subscriber,E 32 St & Park Ave,Broadway & E 22 St,-73.981948,40.745712,-73.989551,40.740343,2015-02-06 23:55:00+00,2015-02-06 23:51:00+00
32948,39390,NaN,NaN,1,1984.0,17844,435,383,271,Subscriber,W 21 St & 6 Ave,Greenwich Ave & Charles St,-73.994156,40.741740,-74.000271,40.735238,2015-02-06 23:56:00+00,2015-02-06 23:51:00+00
32949,39391,NaN,NaN,1,1987.0,21040,438,361,572,Subscriber,St Marks Pl & 1 Ave,Allen St & Hester St,-73.985649,40.727791,-73.991908,40.716059,2015-02-07 00:01:00+00,2015-02-06 23:52:00+00
32950,39392,NaN,NaN,1,1981.0,19480,380,503,498,Subscriber,W 4 St & 7 Ave S,E 20 St & Park Ave,-74.002939,40.734011,-73.987520,40.738274,2015-02-07 00:01:00+00,2015-02-06 23:53:00+00
32951,39393,NaN,NaN,1,1978.0,21130,258,324,425,Subscriber,DeKalb Ave & Vanderbilt Ave,DeKalb Ave & Hudson Ave,-73.968855,40.689407,-73.981013,40.689888,2015-02-07 00:00:00+00,2015-02-06 23:53:00+00
32952,39394,NaN,NaN,1,1983.0,16934,435,496,267,Subscriber,W 21 St & 6 Ave,E 16 St & 5 Ave,-73.994156,40.741740,-73.992390,40.737262,2015-02-06 23:58:00+00,2015-02-06 23:53:00+00
32953,39395,NaN,NaN,1,1968.0,20745,318,484,165,Subscriber,E 43 St & Vanderbilt Ave,W 44 St & 5 Ave,-73.977987,40.753202,-73.980144,40.755003,2015-02-06 23:56:00+00,2015-02-06 23:53:00+00
32954,39396,NaN,NaN,1,1969.0,16811,507,464,751,Subscriber,E 25 St & 2 Ave,E 56 St & 3 Ave,-73.979738,40.739126,-73.967597,40.759345,2015-02-07 00:06:00+00,2015-02-06 23:54:00+00
32955,39397,NaN,NaN,1,1980.0,21259,476,301,747,Subscriber,E 31 St & 3 Ave,E 2 St & Avenue B,-73.979661,40.743943,-73.983688,40.722174,2015-02-07 00:07:00+00,2015-02-06 23:54:00+00
32956,39398,NaN,NaN,1,1993.0,15618,375,439,511,Subscriber,Mercer St & Bleecker St,E 4 St & 2 Ave,-73.996951,40.726795,-73.989780,40.726281,2015-02-07 00:03:00+00,2015-02-06 23:54:00+00
32957,39399,NaN,NaN,1,1959.0,17370,486,497,489,Subscriber,Broadway & W 29 St,E 17 St & Broadway,-73.988557,40.746201,-73.990093,40.737050,2015-02-07 00:02:00+00,2015-02-06 23:54:00+00
32958,39400,NaN,NaN,1,1984.0,19430,295,504,1183,Subscriber,Pike St & E Broadway,1 Ave & E 15 St,-73.992939,40.714067,-73.981656,40.732219,2015-02-07 00:14:00+00,2015-02-06 23:55:00+00
32959,39401,NaN,NaN,1,1986.0,18303,512,510,649,Subscriber,W 29 St & 9 Ave,W 51 St & 6 Ave,-73.998393,40.750073,-73.980420,40.760660,2015-02-07 00:06:00+00,2015-02-06 23:55:00+00
32960,39402,NaN,NaN,1,1990.0,20360,453,254,377,Subscriber,W 22 St & 8 Ave,W 11 St & 6 Ave,-73.999154,40.744751,-73.998004,40.735324,2015-02-07 00:01:00+00,2015-02-06 23:55:00+00
32961,39403,NaN,NaN,1,1983.0,21564,491,470,485,Subscriber,E 24 St & Park Ave S,W 20 St & 8 Ave,-73.986022,40.740964,-74.000040,40.743453,2015-02-07 00:04:00+00,2015-02-06 23:56:00+00
32962,39404,NaN,NaN,1,1983.0,21575,368,482,298,Subscriber,Carmine St & 6 Ave,W 15 St & 7 Ave,-74.002150,40.730386,-73.999318,40.739355,2015-02-07 00:01:00+00,2015-02-06 23:56:00+00
32963,39405,NaN,NaN,1,1983.0,21014,346,461,648,Subscriber,Bank St & Hudson St,E 20 St & 2 Ave,-74.006180,40.736529,-73.982050,40.735877,2015-02-07 00:07:00+00,2015-02-06 23:57:00+00
32964,39406,NaN,NaN,2,1989.0,17797,450,252,1261,Subscriber,W 49 St & 8 Ave,MacDougal St & Washington Sq,-73.987882,40.762272,-73.998522,40.732264,2015-02-07 00:19:00+00,2015-02-06 23:58:00+00
32965,39407,NaN,NaN,1,1984.0,16975,270,324,331,Subscriber,Adelphi St & Myrtle Ave,DeKalb Ave & Hudson Ave,-73.971789,40.693083,-73.981013,40.689888,2015-02-07 00:04:00+00,2015-02-06 23:58:00+00
32966,39408,NaN,NaN,1,1982.0,19820,236,345,629,Subscriber,St Marks Pl & 2 Ave,W 13 St & 6 Ave,-73.987140,40.728419,-73.997044,40.736494,2015-02-07 00:10:00+00,2015-02-06 23:59:00+00
32967,39409,NaN,NaN,1,1966.0,19487,502,263,492,Subscriber,Henry St & Grand St,Elizabeth St & Hester St,-73.981346,40.714215,-73.996375,40.717290,2015-02-07 00:07:00+00,2015-02-06 23:59:00+00
32968,39410,NaN,NaN,1,1987.0,15426,301,401,329,Subscriber,E 2 St & Avenue B,Allen St & Rivington St,-73.983688,40.722174,-73.989978,40.720196,2015-02-07 00:04:00+00,2015-02-06 23:59:00+00

# Task 3

In [24]:
# 3.1 start station locations
q = '''
SELECT start_station_latitude, start_station_longitude
FROM citibike
GROUP BY start_station_latitude, start_station_longitude
'''
pd.read_csv(io(queryCartoDB(q)), sep=',')

     start_station_latitude  start_station_longitude
0                 40.686919               -73.976682
1                 40.753202               -73.977987
2                 40.715422               -74.011220
3                 40.745497               -74.001971
4                 40.744751               -73.999154
5                 40.742065               -74.004432
6                 40.740964               -73.986022
7                 40.763406               -73.977225
8                 40.716059               -73.991908
9                 40.714948               -74.002345
10                40.703799               -74.008387
11                40.708531               -73.964090
12                40.727434               -73.993790
13                40.762288               -73.983362
14                40.727103               -74.002971
15                40.760660               -73.980420
16                40.685396               -73.974315
17                40.714979               -74.013012
18                40.693317               -73.953820
19                40.688515               -73.964763
20                40.720828               -73.977932
21                40.718710               -74.009001
22                40.690893               -73.996123
23                40.737262               -73.992390
24                40.735238               -74.000271
25                40.683826               -73.976323
26                40.767272               -73.993929
27                40.719392               -74.002472
28                40.750200               -73.990931
29                40.686768               -73.959282
..                      ...                      ...
297               40.689269               -73.989129
298               40.693631               -73.962236
299               40.689888               -73.981013
300               40.770513               -73.988038
301               40.751396               -74.005226
302               40.738177               -73.977387
303               40.721854               -74.007718
304               40.697666               -73.984764
305               40.684568               -73.958811
306               40.686832               -73.979677
307               40.746647               -73.993915
308               40.684157               -73.969223
309               40.715816               -73.994224
310               40.720196               -73.989978
311               40.732241               -74.000264
312               40.735354               -74.004831
313               40.720874               -73.980858
314               40.763441               -73.982681
315               40.750664               -74.001768
316               40.759291               -73.988597
317               40.730386               -74.002150
318               40.683178               -73.965964
319               40.700379               -73.995481
320               40.751873               -73.977706
321               40.764618               -73.987895
322               40.748238               -73.978311
323               40.726218               -73.983799
324               40.746920               -74.004519
325               40.719105               -73.999733
326               40.717227               -73.988021

[327 rows x 2 columns]

In [25]:
# 3.2 number of trips per station
q = '''
SELECT COUNT(*)
FROM citibike
GROUP BY start_station_id, start_station_latitude, start_station_longitude
'''
pd.read_csv(io(queryCartoDB(q)), sep=',')

     count  Unnamed: 1
0      156         NaN
1       78         NaN
2       46         NaN
3      203         NaN
4       27         NaN
5      327         NaN
6      151         NaN
7       37         NaN
8      279         NaN
9      100         NaN
10     111         NaN
11     145         NaN
12     168         NaN
13     133         NaN
14      85         NaN
15     110         NaN
16      78         NaN
17      69         NaN
18     145         NaN
19     151         NaN
20     455         NaN
21      99         NaN
22       7         NaN
23     125         NaN
24      69         NaN
25     207         NaN
26     238         NaN
27     250         NaN
28     137         NaN
29      55         NaN
..     ...         ...
297     88         NaN
298    259         NaN
299    159         NaN
300    156         NaN
301    111         NaN
302    186         NaN
303     50         NaN
304    120         NaN
305     71         NaN
306    142         NaN
307    123         NaN
308     89         NaN
309     34         NaN
310    107         NaN
311    292         NaN
312     41         NaN
313     27         NaN
314    172         NaN
315    257         NaN
316     28         NaN
317    289         NaN
318    218         NaN
319    132         NaN
320    100         NaN
321     63         NaN
322    177         NaN
323    222         NaN
324    157         NaN
325    173         NaN
326     65         NaN

[327 rows x 2 columns]

In [26]:
# 3.3 stations within 500m of Times Square
q = '''
SELECT
    start_station_id,
    CDB_TransformToWebmercator(CDB_LatLng(
        start_station_latitude,
        start_station_longitude
        )
    ) as the_geom_webmercator,
    MIN(cartodb_id) as cartodb_id,
    COUNT(tripduration) as numtrips
FROM citibike
WHERE
     ST_DWithin(CDB_LatLng(
         start_station_latitude,
         start_station_longitude
     )::geography,
     CDB_LatLng(40.7577,-73.9857)::geography, 500)
GROUP BY
      start_station_id,
      start_station_latitude,
      start_station_longitude'''
pd.read_csv(io(queryCartoDB(q)), sep=',')

,start_station_id,the_geom_webmercator,cartodb_id,numtrips
0,477,0101000020110F0000F55695027D6B5FC186E5BB69D7FB...,33,507
1,2021,0101000020110F00001607D538556B5FC119A6CA6F41FC...,124,141
2,465,0101000020110F000004AF971C1D6B5FC17A48F3C1A8FB...,54,251
3,493,0101000020110F00009BB87D02B76A5FC146C144E9E5FB...,19,141
4,524,0101000020110F0000F22A632FBE6A5FC1363A28CFADFB...,1115,112
5,529,0101000020110F00003F9300B2976B5FC1B8B88F3102FC...,783,221
6,173,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,42,213

# Task 4

In [27]:
# 4.1 station with the longest average trip duration during weekends and within 500m of Times Square.
q = '''
SELECT
    start_station_id,
    CDB_TransformToWebmercator(CDB_LatLng(
      start_station_latitude,
      start_station_longitude)
    ) as the_geom_webmercator,
    MIN(cartodb_id) as cartodb_id, AVG(tripduration) as avg_duration
FROM citibike
WHERE
     ST_DWithin(
         CDB_LatLng(
              start_station_latitude,
         start_station_longitude
)::geography, CDB_LatLng(40.7577,-73.9857)::geography, 500)
AND
extract(DOW FROM starttime) IN (0,6)
GROUP BY
      start_station_id,
      start_station_latitude,
      start_station_longitude
ORDER BY avg_duration DESC LIMIT 1
'''
pd.read_csv(io(queryCartoDB(q)), sep=',')

,start_station_id,the_geom_webmercator,cartodb_id,avg_duration
0,173,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,42,1010.104167

#### Extra: create lines for trips started from stations within 500m of Times Squares and lasted less than 2 hours. The number of trips per each pair of stations are output as attributes of these lines. 

select ST_Makeline(
  CDB_TransformToWebmercator(CDB_LatLng(start_station_latitude, start_station_longitude)),
  CDB_TransformToWebmercator(CDB_LatLng(end_station_latitude, end_station_longitude))
  )
as the_geom_webmercator, min(cartodb_id) as cartodb_id,
from citibike
where ST_DWithin(CDB_LatLng(start_station_latitude, start_station_longitude)::geography,
                 CDB_LatLng(40.7577, -73.9857)::geography,500)
group by start_station_id, start_station_latitude, start_station_longitude,
end_station_id, end_station_latitude, end_station_longitude